.valid {
  border: 2px green solid;
}

.invalid {
  border: 2px red solid;
}



.slider__right {
  width: 60%;
  min-width: 360px;
  height: 400px;
  position: relative;
  background-image: url(/src/assets/img/no-page/tiger.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  ;
}

.slider__left {
  width: 100%;
  height: 400px;
  position: absolute;
  background-image: url(/src/assets/img/no-page/kitten.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__handler {
  width: 0.4rem;
  transform: translateX(-0.2rem);
  height: 400px;
  position: absolute;
  background-color: rgb(222, 215, 135);
  padding: 0;
  cursor: grab;
  touch-action: none;

}

.slider__wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
