@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

.main-layout {
  min-width: 400px;
  height: 100vh
}

.auth-content {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}



.question-container {
  width: 100%;
  // height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem 1rem;
}

.question__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 2;
  font-size: 1.5rem;


  @media (max-width: 1200px) {
    font-size: 1.25rem;
  }

  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.question__title {
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
  font-size: inherit !important;
}

.question__text {
  padding-top: 1rem;
  font-size: inherit
}

.question__image {
  object-fit: contain;
}

.header {
  display: flex;
  align-items: center;
}

.header__logo-link {
  display: flex;
  width: 170px;
  height: 64px;
  padding: 4px;

  & svg {
    height: 56px;
  }

  & g {
    transition: fill 0.3s ease-in-out;
  }

  &:hover g {
    fill: rgb(86, 15, 15);
  }
}

.variant__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  margin: 0;
  list-style: none;

  @media (max-width: 1460px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 900px) {
    column-gap: 0.1rem;
    row-gap: 0.1rem;
  }

  transition:
    column-gap .3s ease-in-out,
    row-gap .3s ease-in-out
    ;

  & > li {
    display: flex;
    flex-direction: column;
    max-width: 360px;

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}

.variant__image {
  max-height: 300px;
  max-width: 300px;
  scale: 1;


  @media (max-width: 800px) {
    min-width: 100px;
    max-width: 100%;
    height: auto;
  }
}

.variant__button {
  cursor: pointer;
  height: 100%;

  &:hover {
    box-shadow: 2px 2px 4px #0000007c;
  }
  transition: box-shadow .3s ease-in-out;
}

.variant {
  margin: 0 16px;
  overflow: auto;
  padding: 24px;
  min-height: 360px;
  background-color: #fff;
}


.game-page {
  padding-bottom: 16px;
}

.admin-page {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #fff;

  @media (max-width: 800px) {
    padding: .5rem;
  }
}


.admin__btn-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;

  @media (max-width: 800px) {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
  }


  @media (max-width: 800px) {
    column-gap: .5rem;
    row-gap: .5rem;
  }



}

.admin__btn {
  width: 100%;

}
