@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

.main-layout {
min-height: 100vh
}

.content-layout {
height: 93vh;
}

.main-aside {
height: 93vh;
padding: 0 !important;
}


.auth-content {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}


// .variant {
//   margin: 0 16px;
//   overflow: auto;
//   padding: 24px;
//   min-height: 360px;
//   background-color: #fff;
// }

