.game-page {
  display: flex;
  position: relative;
}

.status-bar {
  row-gap: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1rem;
  padding: .25rem 1rem;
  box-shadow: inset -2px -2px 8px #00000070;
  background-color: #00746a17;
  border: 2px solid #000;

  & div {
    display: flex;
    gap: 0.25rem;
    box-shadow: 0 0 4px #00000087;
    padding: 0.1rem .5rem;
    border-radius: .25rem;
    text-shadow: 0 0 2px #00000087;
    &:hover {
      box-shadow: 0 0 6px #00000087;
    }
  }

  &--progress {
    justify-content: flex-start;
    gap: .25rem;
    font-size: .75rem;
  }
}
